{{ define "content" }}
<script src="/assets/copytoclipboard.js"></script>
<div class="container site-header">
  <h1 class="title is-1">QuePasa (v{{ .Version }}) Bots</h1>
    <p class="subtitle">Welcome {{ .User.Username }}</p>
    <h2 class="title is-2">({{ len .Servers }}) Your bots</h2>
    <a class="button is-primary" href="/form/verify?mode=md">Add or Update Bot</a>
    {{ if .ErrorMessage }}
    <div class="notification is-warning">
      {{ .ErrorMessage }}
    </div>
    {{ end }}
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Number</th>
          <th>Verified</th>
          <th>Token</th>
          <th style="text-align: center;">Actions</th>
          <th style="text-align: center;">Extra</th>
          <th style="text-align: center;">WebHooks</th>
          <th>State</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Servers }}   
          <tr>
            <td>
              <span>{{ .GetNumber }}</span>
            </td>
            <td>
              <span class="button" disabled>
                {{ if .Verified }}
                  <span class="icon has-text-success"><i class="fas fa-check-square"></i></span>
                {{ else }}
                  <span class="icon has-text-warning"><i class="fas fa-exclamation-triangle"></i></span>
                {{ end }}
              </span>
            </td>
            <td>
              <small><code title="click to copy" style="cursor: pointer;" onclick="CopyToClipboard(this.textContent)">{{ .Token }}</code></small>
            </td>
            <td style="text-align: center;">              
              <div class="field has-addons">
                <p class="control">
                  <form class="" method="post" action="/form/cycle">
                    <input name="token" type="hidden" value="{{ .Token }}">
                    <button class="button is-primary is-outlined" title="Reset the token">
                      <span class="icon is-small is-inline"><i class="fa fa-sync"></i></span>
                    </button>
                  </form>
                </p>
                {{ if .IsDevelopmentGlobal }}
                  <p class="control"> 
                    <form class="" method="post" action="/form/debug">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-warning {{ if .Devel }}is-hovered{{ else }}is-outlined{{ end }}" title="Toggle Debug for this bot">
                        <span class="icon is-small is-inline"><i class="fa fa-bug"></i></span>
                      </button>
                    </form>
                  </p>
                {{ end }}
                {{ if .Verified }}                  
                  <p class="control"> 
                    <form class="" method="post" action="/form/toggle">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-danger {{ if not .GetWorking }}is-hovered{{ else }}is-outlined{{ end }}" title="Toggle Running state for this bot">
                        <span class="icon is-small is-inline"><i class="fa fa-{{ if not .GetWorking }}play{{ else }}stop{{ end }}-circle"></i></span>
                      </button>
                    </form>
                  </p>
                  <p>&nbsp;&nbsp;</p>
                  <p class="control"> 
                    <form class="" method="post" action="/form/togglebroadcast">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-info {{ if .HandleBroadcast }}is-hovered{{ else }}is-outlined{{ end }}" title="Handle status messages">
                        <span class="icon is-small is-inline"><i class="fa fa-comment-dots"></i></span>
                      </button>
                    </form>
                  </p>
                  <p>&nbsp;</p>
                  <p class="control"> 
                    <form class="" method="post" action="/form/togglegroups">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-info {{ if .HandleGroups }}is-hovered{{ else }}is-outlined{{ end }}" title="Handle group messages">
                        <span class="icon is-small is-inline"><i class="fa fa-comments"></i></span>
                      </button>
                    </form>
                  </p>
                {{ end }}
                <p>&nbsp;&nbsp;</p>
                <p class="control">
                  <form class="" method="post" action="/form/delete">
                    <input name="token" type="hidden" value="{{ .Token }}">
                    <button class="button  is-danger is-outlined" title="Delete this bot">
                      <i class="fa fa-trash"></i>&nbsp;&nbsp;
                      Delete
                    </button>
                  </form>
                </p>
              </div>
            </td>
            <td style="text-align: center;"> 
              <div class="field has-addons">
                {{ if eq .GetStatusString "Ready" }}               
                  <p class="control">
                    <a href="/form/server/{{ .Token }}/send" class="button" title="Send a message as this bot">
                      <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;
                      Send
                    </a>
                  </p>
                  <p class="control">
                    <a href="/form/server/{{ .Token }}/receive" class="button" title="Receive messages for this bot">
                      <i class="fa fa-download"></i>&nbsp;&nbsp;
                      Receive
                    </a>
                  </p>
                {{ end }}                
              </div>
            </td>
            <td style="text-align: center;">
              <span class="button" disabled>
                {{ if .Webhooks }}
                  <span class="icon has-text-success" title="{{ .Webhooks }}"><i class="fas fa-check-square"></i> </span>
                  {{ else }}
                  <span class="icon has-text-warning"><i class="fas fa-exclamation-triangle"></i> </span>
                {{ end }}
              </span>
            </td>
            <td><span title="{{ .GetStartedTime }}">{{ .GetStatusString }}</span></td>
            </tr>            
        {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
