{{ define "content" }}
{{ if .ErrorMessage}}
<div class="notification is-warning">
  {{ .ErrorMessage}}
</div>
{{ end }}
<div class="is-block is-large is-fullwidth container" style="text-align: center;">
  <hr />
  <div class="notification is-warning">CASO O QR CODE NÃO APARECER POR FAVOR VERIFIQUE SE  A VARIAVEL EM /src/.env ESTA DE FORMA WEBSOCKETSSL=true</div>
  <label class="label">Scan this QR code in the next 20 seconds:</label>
  <img id="qrcode" src="">
  <hr />
  <a href="/form/account">Back</a>
</div>
<script type="text/javascript" defer>
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const mode = urlParams.get('mode')

  let Success = false;
  const Image = document.querySelector('img#qrcode');

  var myWebSocket;

  function GetQRCode() {
    loadQrCode();
    if (myWebSocket === undefined || (myWebSocket && myWebSocket.readyState === 3)) {
      myWebSocket = new WebSocket("{{ .Protocol }}://{{ .Host }}/form/verify/ws");
      myWebSocket.onopen = onWebSocketOpen;
      myWebSocket.onmessage = onWebSocketMessage;
      myWebSocket.onclose = onWebSocketClose;
      myWebSocket.onerror = onWebSocketError; 
            
      window.MyWebSocket = myWebSocket;
      window.addEventListener("unload", function(){
        myWebSocket.close();
      });   
    }
  }

  function SetSuccess(status) {
    Success = status;
    if (Success) {
      Image.style = "border: green 3px solid; filter: blur(5px);";
    } else {
      Image.style = "border: red 3px solid; filter: blur(4px);";
    }
  }

  function loadQrCode(data)
  {   
    if(data){
      Image.style = "";
      Image.src = "data:image/png;base64, " + data;
    } else {
      SetSuccess(false);
    }
  }

  function formatDebug(message)
  {
    console.debug("(" + Date.now() + ") " + message);
  }

  function onWebSocketOpen(event){
    if (event) {
      console.debug("sending start with mode: " + mode)
      myWebSocket.send("start");
    } else { formatDebug("no event passed"); }
  }

  function onWebSocketError(event){
    formatDebug("error socket", event);
  }

  function onWebSocketClose(event)
  {
    if(Success){      
      setTimeout(function() {
        window.location.replace({{ .Destination }});
      }, 2000);        
      return;
    }

    //console.debug(event);
    formatDebug("closed socket (" + event.reason + "): regenerating qr code and trying again");    
    setTimeout(function() {
      GetQRCode();
    }, 1000);
  }

  function onWebSocketMessage(event){
    if (event) {
      if (event.data === "complete") {
        console.debug("websocket complete");
        SetSuccess(true);
        myWebSocket.close();
      } else if (event.data === "success") {
        SetSuccess(true);
        console.debug("websocket success");
      } else if (event.data === "echo") {
        //console.debug("websocket echo keep alive");
      } else if (event.data === "timeout") {
        console.debug("timeout: regenerating qr code and trying again");
        myWebSocket.send("start");
      } else if (event.data === "error") {
        console.debug("unknown error: regenerating qr code and trying again");
        myWebSocket.send("start");
      } else {
        loadQrCode(event.data);
      }
    } else { formatDebug("no event passed"); }
  }

  window.onload = GetQRCode;
  window.GetQRCode = GetQRCode;
</script>
{{ end }}
