go 1.25.0

use (
	.
	./api
	./cache
	./dispatch
	./environment
	./apps/form
	./library
	./mcp
	./media
	./metrics
	./models
	./rabbitmq
	./runtime
	./signalr
	./sipproxy
	./swagger
	./webserver
	./whatsapp
	./whatsmeow
)
