{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .PageTitle }}</title>
  <link href="/assets/css/main.css" rel="preload" as="style">
  <link href="/assets/css/main.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
  {{ template "content" . }}
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
{{ end }}
